Package: betternginx
Version: 1.0
Architecture: amd64
Maintainer: panmourovaty
Installed-Size: 3059
Depends: libc6, libcrypt, libpcre3, libssl, zlib1g, lsb-base, adduser
Conflicts: nginx-common, nginx-core
Replaces: nginx-common, nginx-core
Provides: httpd, nginx
Section: httpd
Priority: optional
Description: nginx with brotli, quic support and many other additional tweaks
